{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": false,
    "node": true
  },
  "globals": {
    "fetch": true,
    "window": true,
    "__DEV__": true,
    "navigator": true,
    "ReactElement": true,
    "requestAnimationFrame": true,
    "jest": true,
    "Iterable": true,
    "Action": true,
    "FormData": true
  },
  "plugins": [
    "react",
    "react-native",
    "flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "comma-dangle": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 1,
    "camelcase": 0,
    "react-native/no-unused-styles": 2,
    "no-return-assign": 0,
    "react/jsx-boolean-value": 0,
    "react/sort-comp": 0,
    "react/prop-types":1,
    "arrow-body-style": 0,
    "no-nested-ternary": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "padded-blocks": 0,
    "react/prefer-stateless-function": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0
  }
}
